body{
    background-color: rgba(18, 49, 136, 0.281);
    font: normal 15px arial;
}
header{
    margin: 20px;
    text-align: center;
    margin: auto;
    color: white;
    font-size: 15pt;
}
section{
    text-align: center;
    width: 500px;
    height: 300px;
    background-color: white;
    padding: 15px;
    border-radius: 30px;
    margin: auto;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.329);
}

footer{
    font-style: italic;
    margin-top: 50px;
    text-align: center;
    color: white;
}

img{
    margin-top: 15px;
   height: 250px;
   width:250px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
}

