*{
    margin: 0;
    padding:0;
}
body{
    background-color: rgba(153, 50, 204, 0.521);
}
header{
    position: absolute;
    width: 100%;
    background-color:rgba(128, 128, 128, 0.356);
    float: left;
    text-align: center;
}
li{
    
    float: left;
    padding: 15px;
    font-size: 25px;
    list-style: none;
    
    margin: 20px;
    margin-left: 125px;
    color: white;
    transition: transform 1s;
    transform: translateX(0) scale(1);
}
li:hover{
    font-size: 25px;
      transform: translateX(10px) scale(1.2);
}

main .praia img{ 
    position: relative;
    width: 30%;
    height: 50%;
    float: right;
    margin-top: 30vh;
    margin-right: 10em;
    border-radius: 30px;
    border: 3px solid rgba(90, 28, 151, 0.37);
    box-shadow: 2px 2px 3px 3px;
}
.text h2{
    margin-left: 0.5em;
    position: absolute;
    margin-top: 29vh;
    display: inline-flex;
    font-size: 3em;
    text-align: center;
}
.text a{
    
    display: inline-block;
    background-color: #ed391b;
    color: white;
    text-decoration: none;
    font-size: 1.75em;
    padding: 15px 45px 15px 45px;
    border-radius: 50px;
    margin-top: 30%;
    margin-left: 9em;
    box-shadow: 0 0 1em white;
    transition: all 0.6s;

}
.text a:hover{
    transform: translateX(3px);
    background-color: rgba(137, 43, 226, 0.096);
}
